<table class='table table-striped table-bordered table-hover'>
  <thead>
    <tr>
      <th>标题</th>
      <th>作者/时间</th>
      <th>时间</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, post.url %></td>
        <td><%= post.info %></td>
        <td><%= post.c_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @posts %>
